@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("@sikt/sds-core");

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



html {
  overflow-x: initial !important;
}

body {
  background: #1d2126;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: black;
  color: black;
}

::-webkit-scrollbar-thumb {
  background: #00bbff;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#titleCanvas {
  touch-action: auto !important;
}

